<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Deduplication</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Adminsignin</display-name>
    <servlet-name>Adminsignin</servlet-name>
    <servlet-class>com11.Adminsignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminsignin</servlet-name>
    <url-pattern>/Adminsignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usersignup</display-name>
    <servlet-name>Usersignup</servlet-name>
    <servlet-class>com11.Usersignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usersignup</servlet-name>
    <url-pattern>/Usersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usersignin</display-name>
    <servlet-name>Usersignin</servlet-name>
    <servlet-class>com11.Usersignin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usersignin</servlet-name>
    <url-pattern>/Usersignin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>File_upload</display-name>
    <servlet-name>File_upload</servlet-name>
    <servlet-class>User.File_upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>File_upload</servlet-name>
    <url-pattern>/File_upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HashGeneratorUtils</display-name>
    <servlet-name>HashGeneratorUtils</servlet-name>
    <servlet-class>User.HashGeneratorUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashGeneratorUtils</servlet-name>
    <url-pattern>/HashGeneratorUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileHashGeneratorExample</display-name>
    <servlet-name>FileHashGeneratorExample</servlet-name>
    <servlet-class>User.FileHashGeneratorExample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileHashGeneratorExample</servlet-name>
    <url-pattern>/FileHashGeneratorExample</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HashGenerationException</display-name>
    <servlet-name>HashGenerationException</servlet-name>
    <servlet-class>User.HashGenerationException</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashGenerationException</servlet-name>
    <url-pattern>/HashGenerationException</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request_token</display-name>
    <servlet-name>Request_token</servlet-name>
    <servlet-class>Private.Request_token</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request_token</servlet-name>
    <url-pattern>/Request_token</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Token_gen</display-name>
    <servlet-name>Token_gen</servlet-name>
    <servlet-class>Private.Token_gen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Token_gen</servlet-name>
    <url-pattern>/Token_gen</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>bestpeerproject@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>bestpeer</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Token_check</display-name>
    <servlet-name>Token_check</servlet-name>
    <servlet-class>Storage_server.Token_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Token_check</servlet-name>
    <url-pattern>/Token_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>POW</display-name>
    <servlet-name>POW</servlet-name>
    <servlet-class>Storage_server.POW</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>POW</servlet-name>
    <url-pattern>/POW</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>File_delete</display-name>
    <servlet-name>File_delete</servlet-name>
    <servlet-class>User.File_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>File_delete</servlet-name>
    <url-pattern>/File_delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Key_check</display-name>
    <servlet-name>Key_check</servlet-name>
    <servlet-class>Storage_server.Key_check</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Key_check</servlet-name>
    <url-pattern>/Key_check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change_password</display-name>
    <servlet-name>Change_password</servlet-name>
    <servlet-class>User.Change_password</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change_password</servlet-name>
    <url-pattern>/Change_password</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Private_signin</display-name>
    <servlet-name>Private_signin</servlet-name>
    <servlet-class>com11.Private_signin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Private_signin</servlet-name>
    <url-pattern>/Private_signin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Own_download</display-name>
    <servlet-name>Own_download</servlet-name>
    <servlet-class>Storage_server.Own_download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Own_download</servlet-name>
    <url-pattern>/Own_download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com11.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Request_keyservlet</display-name>
    <servlet-name>Request_keyservlet</servlet-name>
    <servlet-class>User.Request_keyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Request_keyservlet</servlet-name>
    <url-pattern>/Request_keyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>response</display-name>
    <servlet-name>response</servlet-name>
    <servlet-class>User.response</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>response</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imageupload_servlet</display-name>
    <servlet-name>Imageupload_servlet</servlet-name>
    <servlet-class>User.Imageupload_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imageupload_servlet</servlet-name>
    <url-pattern>/Imageupload_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forgotpassword</display-name>
    <servlet-name>forgotpassword</servlet-name>
    <servlet-class>com11.forgotpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpassword</servlet-name>
    <url-pattern>/forgotpassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>image_delete</display-name>
    <servlet-name>image_delete</servlet-name>
    <servlet-class>User.image_delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>image_delete</servlet-name>
    <url-pattern>/image_delete</url-pattern>
  </servlet-mapping>
</web-app>